body,h1,h2{
    text-align: center;
    background-image: url('wrap.png'); 
    background-position: center;
    text-shadow: 2px 2px #000000;
    color: #71B48D;
    font-family: Verdana, Geneva, Tahoma;
    
}

a,a:hover{
    color:#000000
}
div{
  
  border: 5px solid  #71B48D;;
  background-color: #000000;
}
#headtext{
 font-size: 24px;
}
p,header,footer,fieldset,figcaption{
    color: #71B48D;;
    font-size: 18px;
    
}
p{
    margin: 1%;
   
}
ul{
    text-align: center;
    margin-left: 22%;
    margin-right: 22%;
    max-width: 50%;
}
li{
    text-align: left;
    color:#000000
}
main{
    text-align: center;
    margin-left: 22%;
    margin-right: 22%;
    }
button{
    height: 20%;
}
#gallery{
    width: 35rem;
    margin:4rem auto;
}

#thumbnail-gallery{
    display: flex;
    justify-content: center;
    
}
.thumbnail{
    width: 100px;
    height: 100px;
    margin: 0 10px;
    cursor: pointer;
    
}
#defaultImg{
    width: 75%;
}
.tylenol{
 width: 30%;
}

#sources{
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}
#umi{
    width: 50%;
}
.homeImg{
width: 25%;
}